   <!-- HERO SECTION -->

<div class="hero-section">

    <img src="../../assets/img/123.jpg" alt="Cafe Banner">

    <div class="hero-text">
        <h1>Cafe Aroma</h1>

        <p>
            ☕ Fresh Coffee • 🍕 Delicious Food • 🍰 Sweet Memories
        </p>
        <a href="#about" class="btn" (click)="scrollToAbout()">View Best Sellers</a>

    </div>

</div>

<!-- BEST SELLER SECTION -->

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>

        <ul class="timeline">

            <li>
                <a href="../../assets/img/food1.jpg" target="_blank">
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid"
                            src="../../assets/img/food1.jpg"
                            alt="Pizza" />
                    </div>
                </a>

                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pizza</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            Pizza is an Italian dish consisting of a usually round,
                            flattened base of leavened wheat-based dough topped
                            with tomatoes, cheese and various ingredients.
                        </p>
                    </div>
                </div>

                <li class="timeline-inverted">
                <a href="../../assets/img/sandwich.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/sandwich.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Grilled sandwich</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A grilled sandwich is a warm, toasted sandwich made by placing a
                            filling—such as vegetables, cheese, meats, or spreads—between slices of bread and cooking it
                            on a grill or pan until the bread is crispy and golden brown, and the inside is hot and
                            flavorful.</p>
                    </div>
                </div>
            </li>

            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pasta is a type of food typically made from an unleavened dough of wheat
                            flour mixed with water or eggs, and formed into sheets or other shapes, then cooked by
                            boiling or baking.</p>
                    </div>
                </div>
            </li>

            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Molten chocolate cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Molten chocolate cake is a popular dessert that combines the elements of a
                            chocolate cake and a soufflé. Its name derives from the dessert's liquid chocolate center,
                            and it is also known as chocolate moelleux, chocolate lava cake, or simply lava cake.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Cafe!
                    </h4>
                </div>
            </li>

             <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Login to view 
                        <br />
                        more of our
                        <br />
                        Menu!
                    </h4>
                </div>
            </li>

        </ul>
    </div>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</section>